* {
    font-size: large;
}

.driver-profile {
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;
}

.driver-card {
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 2rem auto;
    width: 20%;
}

.change-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}