<app-admin-navigation></app-admin-navigation>
<div *ngIf="isUsersLoaded" class="table-con">
    <table mat-table [dataSource]="users" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">{{user.username}}</td>
        </ng-container>
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef>Firstname</th>
            <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef>Lastname</th>
            <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef>Telephone</th>
            <td mat-cell *matCellDef="let user">{{user.telephone}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['username', 'firstname', 'lastname', 'telephone']"></tr>
        <tr mat-row style="cursor: pointer"
            *matRowDef="let row; columns: ['username', 'firstname', 'lastname', 'telephone'];"
            [routerLink]="['/orders/', row.username]"></tr>
    </table>
    <div class="demo-button-container">
        <button mat-raised-button class="demo-button"
                routerLink="/users/{{page - 1}}"
                [disabled]="page == 1">
            <--
        </button>
        <button mat-raised-button class="demo-button"
                routerLink="/users/{{+page + 1}}">
            -->
        </button>
    </div>
</div>
